*{
    box-sizing: border-box;
}
body{
    font-family: Arial;
}

.header{
    padding: 30 px;
    text-align: left;
    background-color: darkgray;
}

.topnav{
    overflow: hidden;
    background-color: rgb(255, 149, 123);
}

.topnav a:hover{
    background-color: white;
    color: black;
}

.leftColumn{
    float: left;
    width: 1000px;
    height: 300px;
    border:solid black ;
}

.left_block1{
    background-color: darkcyan;
    height: 50px;
}

.childblock1{
    background-color: aliceblue;
    width: 995px;
    height: 200px;
    padding: 20px;
}